.title {
    margin-top: 70px;
    margin-bottom: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
}

#temp_emoji {
    font-size: 200px;
    margin-bottom: 10px;
}

#result {
    /* 自由に並べ替えるために定義 */
    display: flex;
    /* レイアウトを垂直方向に並べる */
    flex-direction: column;
    /* 左右を揃える */
    align-items: center;
    /* 上下を揃える */
    justify-content: center;

    /* テキストを真ん中揃えにする */
    text-align: center;
    font-size: 20px;

    margin-top: 30px;
}

#temp_cityname {
    font-size: 60px;
    margin-top: 20px;
}

#temp_wheather_text {
    font-size: 40px;
}

#temp_tempreture_text {
    margin-top: 30px;
}

#temp_windspeed_text {
    margin-top: 10px;
}

#temp_winddirection_text {
    margin-top: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 80px;
    margin-bottom: 80px;
}